
p{
    font-size: 20px;
    padding-bottom: 5px;
   border: solidb black 10px;
    text-align: center;
    border-spacing: 50px;

}

h1{
    text-align: center;
    color: rgb(54, 5, 5);

}

h2{
color:rgb(54, 5, 5);
text-align: center;

}

h3{
   color: brown
}

fieldset{
    margin-top: 8px;
}

img {
    vertical-align: top;
    max-width: 200px;
    max-height:250px;
}

  div {
    margin-bottom: 80px;
  }
  
.foto{
    max-width: 80px;
   height: 45px;
}
 
  